{% if page.header.video_file %}
<div class="page__hero--overlay">
  <div class="page__hero-video">
    <video autoplay muted loop playsinline>
      <source src="{{ page.header.video_file | relative_url }}" type="video/mp4">
    </video>
  </div>

  <div class="wrapper">
    {% if page.title %}
    <h1 id="page-title" class="page__title" itemprop="headline">
      {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
    </h1>
    {% endif %}

    {% if page.excerpt %}
    <p class="page__lead">
      {{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}
    </p>
    {% endif %}

    {% if page.header.actions %}
    <p>
      {% for action in page.header.actions %}
      <a href="{{ action.url | relative_url }}" class="btn btn--light-outline btn--large">
        {{ action.label }}
      </a>
      {% endfor %}
    </p>
    {% endif %}
  </div>
</div>
{% elsif page.header.overlay_color or page.header.overlay_image or page.header.image %}
<div class="page__hero{% if page.header.overlay_filter %}--overlay{% endif %}"
     {% if page.header.overlay_color %} style="background-color: {{ page.header.overlay_color }};"{% endif %}
     {% if page.header.overlay_image %} style="background-image: url('{{ page.header.overlay_image | relative_url }}');"{% endif %}>
  {% if page.header.image %}
  <img src="{{ page.header.image | relative_url }}" alt="" class="page__hero-image">
  {% endif %}
</div>
{% endif %}