---
layout: archive
---

{{ content }}

<video controls autoplay muted loop playsinline width="100%">
  <source src="{{ '/assets/videos/intro.mp4' | relative_url }}" type="video/mp4">
  Your browser does not support the video tag.
</video>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
